.el-card {
  /* display: inline-block; */
  overflow: auto;
}
.el-card__body {
  padding: 15px;
}
.el-tabs {
  overflow: hidden;
  /* text-overflow: ellipsis; */
}
.el-upload {
  margin: 20px;
  margin-bottom: 0px;
}
.el-upload-dragger {
  height: 100%;
  width: 100%;
  padding: 20px;
}
.el-upload-dragger .el-icon-upload {
  margin: 10px;
}

.folder-tab-label {
  font-size: 14px;
  font-weight: 550;
}
.folder-tab-label-title {
  display: inline-block;
  vertical-align: middle;
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.folder-tab {
  float: left;
  position: relative;
  left: 0vw;
  /* height: 85vh; */
}
.folder-tab .el-tabs__item {
  height: 100% !important;
}
.ref-tab {
  float: left;
  position: relative;
  left: 0.5vw;
  /* border-right: #EBEEF5 solid 1px; */
  border-radius: 5px;
}

.folder-tab .el-tabs__header.is-left {
  width: 12vw; /*span1*/
  margin-right: 2px;
}
.ref-tab .el-tabs__header.is-left {
  width: 53.1vw; /*span2*/
  margin-right: 2px;
}
.ref-content-card {
  position: fixed;
  left: 67vw;
  width: 32.5vw;/*span3*/
  height: 93vh;
}

.ref-tab .el-tabs__item {
  height: 65px;
  padding: 5px !important;
  overflow: hidden;
  text-overflow: clip;
}
.ref-tab-label {
  font-weight: 800;
  line-height: 20px;
  font-size: 13px;
  color: #0e4d6c;
  /* overflow: auto; */
}
.ref-tab-label-title {
  display: inline-block;
  width: 97%;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
}
.ref-tab-label-sub-item {
  line-height: 16px;
  font-size: 12px;
}

.el-descriptions-item__label { /*字段label*/
  width: 50px;
}
.el-descriptions-row {
  font-size: 13px;
}
.el-descriptions__title {
  font-size: 15px;
  font-weight: 550;
  text-align: left;
}
.el-main {
  padding: 0px;
}
.el-message-box {
  width: 50vw;
}

.el-tabs--card>.el-tabs__header {
  border-bottom: 0px;
}

.ref-tab.el-tabs--left.el-tabs--card .el-tabs__item.is-left.is-active {
    border: 1px solid #88c9ff;
    border-right: 1px solid #88c9ff;

    /*第一个和最后一个默认被去掉border*/
    border-top: 1px solid #88c9ff !important;
    border-bottom: 1px solid #88c9ff !important;

    border-radius: 4px;
    background: #cbe7ff;
}

.folder-tab.el-tabs--left.el-tabs--card .el-tabs__item.is-left.is-active {
    border: 1px solid #429dff;
    /* border-right: 1px solid #429dff; */

    /*第一个和最后一个默认被去掉border*/
    /* border-top: 1px solid #429dff !important; */
    /* border-bottom: 1px solid #429dff !important; */

    border-radius: 4px !important;
    background: #429dff;
    color: white !important;
}			
.folder-tab.el-tabs--left.el-tabs--card .el-tabs__item.is-left {
    color: #606266;
}
.el-descriptions__body .el-descriptions__table .el-descriptions-item__cell {
  font-weight: 550;
  color: #303133;
}

.el-header {
  margin: 6px;
  padding: 0px;
  height: auto !important;
}
.el-header .el-button {
  font-weight: 600;
  border: 0px;
}
.el-header .el-button-group {
  margin-right: 20px;
}

.el-button--info.is-plain {
  color: #606266;
}

.el-dropdown {
  font-weight: 530;
  font-size: 12px;
  color: #606266;
}

.el-dialog__title {
  font-weight: 700;
}

.el-dialog__header {
  padding-bottom: 0px;
}

textarea {
  font-family: 'ui-monospace';
}

body {
  margin: 0px;
}

.el-main {
  margin: 0px 6px;
}

.info-but-danger-button:hover {
  background: #F56C6C !important;
}

#refRightMenu .el-card__body {
  padding: 0px 0px;
}

#refRightMenu button {
  color: #606266;
  padding: 5px 10px;
}

#refRightMenu button:hover {
  background-color: #ecf5ff;
}

#folderRightMenu .el-card__body {
  padding: 0px 0px;
}

#folderRightMenu button {
  color: #606266;
  padding: 5px 10px;
}

#folderRightMenu button:hover {
  background-color: #ecf5ff;
}

.ref-attachment {
  word-break: break-all;
  font-weight: 500;
  color: #409EFF;
}

.ref-attachment:hover {
  color: #66b1ff;
  cursor: pointer;
}

.my-link {
  word-break: break-all;
  font-weight: 500;
  color: #409EFF;
}

.my-link-label:hover {
  color: #66b1ff;
  cursor: pointer;
  text-decoration: underline;
}

.link-delete-button {
  color: #606266;
}

.link-delete-button:hover {
  color: #66b1ff;
  cursor: pointer;
}